[defaults]
inventory      = /etc/ansible/hosts
remote_tmp     = $HOME/.ansible/tmp
pattern        = *
forks          = 5
poll_interval  = 15
sudo_user      = root
transport      = smart
module_lang    = C

gathering = implicit
sudo_exe = sudo
timeout = 10
log_path = /var/log/ansible.log
module_name = command
executable = /bin/bash
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
fact_caching = memory

[ssh_connection]
control_path = ~/.ansible/ansible-ssh-%%h-%%p-%%r

[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
accelerate_daemon_timeout = 30 
